@charset "UTF-8";

// 1. Base stuff
@use "base/base";
// @use "base/fonts";
// @use "base/helpers";
// @use "base/typography";

// 2. Themes
@use "themes/default";
@use "themes/light";

// 3. Layout-related sections
@use "layout/main";

// 4. Components

// 5. Pages
// dunno if this needs to be here yet
